$sidebar-bg-color: white !default;
$sidebar-color: black !default;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #d8d8d8 !default;
$submenu-bg-color: #2b2b2b !default;
$submenu-bg-color-collapsed: #2b2b2b !default;
$icon-bg-color: none !default;
$icon-size: 48px !default;
$submenu-indent: 24px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1600px !default;


@import '../../node_modules/react-pro-sidebar/dist/scss/styles.scss';

.pro-sidebar{
    height: 100vh;
    width: 300px;
}
.pro-sidebar-inner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
    justify-content: space-between;
}

.aria-selected\:opacity-100[aria-selected="true"]{
    background-color: #a855f7;
}